repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
      - id: check-json
        args:
          - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/hadolint/hadolint
    rev: v2.13.1-beta
    hooks:
      - id: hadolint
        name: Lint Dockerfiles
        description: Runs hadolint to lint Dockerfiles
        entry: hadolint
        language: system
        types: ["dockerfile"]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: sh -c 'cd backend && uv run mypy .'
        types: [python]
        language: python
      - id: unit-tests
        name: unit-tests
        entry: sh -c 'cd backend && uv run pytest tests/unit'
        types: [python]
        pass_filenames: false
        language: python
