repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'files=("$@"); cd backend && uv run mypy "${files[@]#backend/}"' --
        types: [python]
        language: system
        files: ^backend/
      - id: unit-tests
        name: unit-tests
        entry: bash -c 'cd backend && uv run pytest tests/unit'
        types: [python]
        pass_filenames: false
        language: system
